# Ignore everything
*

# Do not ignore these files
!.gitignore
!.config/
!.config/**/*
!.tmux.conf
!.wezterm.lua
!Brewfile
!README.md
!README-ZH.md

# Specifically ignore some files or folders under .config
.config/clash
.config/spicetify
.config/github-copilot
.config/Battle.net/Telemetry
.config/.DS_Store
.config/raycast/extensions
.config/raycast
.config/silicon/themes
